indigo_300 = #7986CB

::ng-deep
  .mat-tab-labels
    margin-left 30px
  .mat-tab-link
    opacity 1 !important
  .mat-tab-label,
  .mat-tab-link
    color white

.tasks
  &__nav
    background indigo_300
  &__add-button
    position: fixed
    margin-top 20px
    left 15vw
