<mat-card class="task">
  <mat-card-header class="task__header">
    <mat-card-title>{{task.name}}</mat-card-title>
    <div class="task__header__menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let option of taskOptions">
          <mat-icon>{{option.icon}}</mat-icon>
          <span>{{option.label}}</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="task__content">
    {{task.description}}
  </mat-card-content>
</mat-card>
