indigo_800 = #3949AB
grey_200 = #EEEEEE

.app-container
  display flex
  flex-direction column
  .mat-drawer-content
    overflow hidden
  &__sidenav
    background grey_200
    height 100vh
  &__toolbar
    display flex
    color white
    background indigo_800
  &__menu
    margin-left -16px
    height 100%

